@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;

}
.hero{
    margin-top: 20px;
    background-color: rgba(16, 144, 216, 0.10);
    border-radius: 8px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    

}
.hero h1{
    color: rgba(17, 17, 17, 0.80);
font-family: Inter;
font-size: 45px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.hero p{
    color: rgba(17, 17, 17, 0.60);
font-family: Inter;
font-size: 30px;
font-style: normal;
font-weight: 500;
line-height: 40px;
letter-spacing: 1.5px;
}
.input-field{
    width: 95px;
height: 32px;
border-radius: 4px;
background: #F1F1F1;
}
.calc-btn{
    width: 250px;
height: 40px;
color: #fff;
font-weight: 700;
border-radius: 8px;
background: #1090D8;
border: none;
margin-top: 20px;
margin-bottom: 20px;
}
img{
    width: 243px;
height: 194px;
margin-top: 20px;

}
.calc-div{
    width: 437px;
height: 454.205px;
}